# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
#
# Ignore all hidden files, except this .gitignore file.
.*
!.sorting
!.gitignore
!.mavenrc
# Ignore all files with the following extension.
*.log
*.iws
*.orig
*.iml
*.ipr
.idea
*.ids
*.pyc
# Ignore the build directory
target
*.uat.sql

# for js testing, we need to ignore node_modules
node_modules
Procfile.df

dependency-reduced-pom.xml
